<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.common.crash">

    <application>
        <!-- 崩溃展示（必须在独立进程） -->
        <activity
            android:name=".mvvm.activity.CrashActivity"
            android:launchMode="singleTop"
            android:process=":crash"
            android:screenOrientation="landscape" />

        <!-- 重启应用（必须在独立进程） -->
        <activity
            android:name=".mvvm.activity.RestartActivity"
            android:launchMode="singleTop"
            android:process=":restart" />
    </application>
</manifest>