<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    >

    <application
        android:name=".base.BaseApplication"
        tools:replace="android:name">
        <meta-data
            android:name="com.common.core.lifecycle.CoreConfigModule"
            android:value="CoreConfigModule" />

        <activity
            android:name="com.common.core.crash.CrashActivity"
            android:launchMode="singleTop"
            android:process=":crash"
            android:screenOrientation="landscape" />

        <!-- 重启应用（必须在独立进程） -->
        <activity
            android:name="com.common.core.crash.RestartActivity"
            android:launchMode="singleTop"
            android:process=":restart" />
    </application>

</manifest>
