<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.common.home">

    <application android:name=".app.HomeApp">
        <meta-data
            android:name="com.common.home.lifecycle.HomeConfiguration"
            android:value="CoreConfigModule" />
        <activity
            android:name="com.common.home.ui.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
    </application>


</manifest>