<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    >

    <application android:name="com.common.personal.app.PersonalApp"
        tools:replace="android:name">
        <activity
            android:exported="false"
            android:name="com.common.personal.mvvm.activity.PersonalDataActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name="com.common.personal.mvvm.activity.SettingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
    </application>
</manifest>