<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.common.personal">

    <application android:name=".app.PersonalApp"
        tools:replace="android:name">
        <activity
            android:exported="false"
            android:name=".mvvm.activity.PersonalDataActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:exported="false"
            android:name=".mvvm.activity.SettingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
    </application>
</manifest>