<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.common.media">
    <!-- 外部存储 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />


    <application>
        <activity
            android:name=".ui.activity.ImageSelectActivity"
            android:label="@string/res_image_select_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.VideoPlayActivity"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@style/res_FullScreenTheme" />
        <activity
            android:name=".ui.activity.VideoSelectActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.VideoPlayActivity$Portrait"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/res_FullScreenTheme" />
        <activity
            android:name=".ui.activity.VideoPlayActivity$Landscape"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@style/res_FullScreenTheme" />
        <activity
            android:name=".ui.activity.ImagePreviewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ImageCropActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CameraActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />


        <!-- 表示当前已经适配了分区存储 -->
        <meta-data
            android:name="ScopedStorage"
            android:value="true" />

        <!-- 适配 Android 7.0 文件意图 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/media_file_paths" />
        </provider>
    </application>
</manifest>