<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.common.template">

    <application android:name=".app.TemplateApp">
        <meta-data
            android:name="com.common.template.lifecycle.TemplateConfiguration"
            android:value="CoreConfigModule" />

        <activity android:name=".ui.activity.TemplateActivity" />
    </application>


</manifest>