<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.common.template">

    <application>

        <meta-data
            android:name="com.common.template.lifecycle.TemplateConfiguration"
            android:value="CoreConfigModule" />

        <activity
            android:name=".ui.activity.StatusActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.DialogActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
    </application>


</manifest>