<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.common.res">

    <application android:networkSecurityConfig="@xml/network_security_config">
        <meta-data
            android:name="com.common.res.lifecycle.ResConfigModule"
            android:value="CoreConfigModule" />
    </application>

</manifest>